certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==1.7.1
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11.6
django-allauth==0.34.0
django-bootstrap-form==3.2.1
django-bootstrap3==9.0.0
django-cors-headers==2.1.0
django-rest-auth==0.9.3
django-rest-framework-roles==0.5
djangorestframework==3.6.4
djangorestframework-jwt==1.11.0
drf-url-filters==0.5.1
enum34==1.1.6
idna==2.2
ipaddress==1.0.17
keyring==10.3.1
keyrings.alt==2.2
oauthlib==2.0.7
pbr==3.1.1
psycopg2==2.7.3.2
py==1.4.32
pyasn1==0.1.9
pycparser==2.18
pycrypto==2.6.1
PyJWT==1.6.1
pytest==3.0.6
python-decouple==3.1
python3-openid==3.1.0
pytz==2017.2
pyxdg==0.25
requests==2.18.4
requests-oauthlib==0.8.0
SecretStorage==2.3.1
six==1.10.0
stevedore==1.25.0
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
voluptuous==0.10.5
